<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.sudchiamanord.quizontheroad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.InfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.StagesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.SingleStageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.PhotoSendingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.AudioRecordingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.TextSendingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.VideoRecordingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.CaptureVideoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.LogoutActivity"
            android:label="@string/app_name" >
        </activity>

        <provider
            android:name=".provider.StageProvider"
            android:authorities="nord.chiama.sud.caccia.provider.stageprovider"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".services.CheckPositionService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".services.CheckPositionReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="nord.chiama.sud.caccia.USER_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.PositionSenderService"
            android:exported="false" >
        </service>
    </application>

</manifest>